th{
    border:1px solid #333;
    padding: 5px;
    
}
table{
    border-collapse: collapse;
    font-family: Arial;
}
#tipo-moneda{
    text-align: left;
    background:#E6F3FF;
}
.fila1{
    background-image: url(fondo_gris.gif);
}
.fila2,.fila4{
    background:#FFFFCC ;
}

