th,td{
    border:1px solid #333;
    padding: 5px;
    
}
table{
    border-collapse: collapse;
    font-family: Arial;
}
.cabecera{
    background-image: url(fondo_gris.gif);
}
.par{
    background:#FFFFCC ;
}
.euro,.dolar,.libra,.yen {
    background:#E6F3FF;
    text-align: left;
}